* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

p {
    color: #2d3436;
}

a {
    text-decoration: none;
    color: #e84393ce;

    &:hover{
        color: #fd79a8;
        transition: 0.1s linear;
    }
}

.body {
    max-width: 45em;
    margin: 0 auto 0 auto;
    padding: 0 1em 0 1em;
}

.header {
    text-align: center;
    padding: 1.15em;
    border-bottom: 4px solid #fd79a8;
}

.logo {
    max-width: 16em;
    display: inline-block;
}

.logo img {
    width: 100%;
}

.tagline {
    font-size: 1.15em;
}

.main {
    margin: 1.75em 0 1.75em 0;
}

.instruction-container {
    margin: 1.75em 0 0 0;
}

.instruction-container p {
    padding: 0.6em 0 0 2.75em;
}

.instruction-number {
    width: 20px;
    height: 20px;
    float: left;
    padding: 8px;
    text-align: center;
    border-radius: 100%;
    background-color: #e84393ce;
    color: #ffffff;
    font-size: 1.15em;
}

.textarea-container {
    right: 0;
    margin: 1em 0 0 2.75em;
}

.textarea {
    height: 16em;
    width: 100%;
    display: inline-block;
    font-size: 0.85em;
    padding: 0.25em 0.45em 0.25em 0.45em;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.25em;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.05);
    color: #2d3436;
    background-color: #ffffff;
    resize: none;
    outline: none;
}

.textarea:focus {
    border: 2px solid rgba(0, 0, 0, 0.15);
    transition: 0.05s linear;
}

.error {
    text-align: center;

    .logo {
        max-width: 12em;
    }

    p {
        font-size: 1.15em;
        margin: 1em 0 1em 0;
    }
}